/*Fe*/
	body {
  background-image: linear-gradient(25deg, #27264A, #247558, #00A94E, #71BF43, #AFD137);
  margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #27264A;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial;
    font-size: 1.2em;
}


li a:hover {
    background-color: #black;
}

.active {
    background-color: #4CAF50;
}

.div-logo-texto {
  display: flex;
}

.logo .texto-logo {
  display: inline-block;
}

.logo {
  box-sizing: border-box;
  width: 50%;
  padding: 5em 3em;
}

.texto-logo {
  width: 50%;
  font-family: Arial;
  color: white;
  font-size: 1.8em;
  margin: 8% 5% ;
  padding: 0;
  line-height: 1.5em
}
.texto-logo h1 {
  line-height: 1.2em;
  padding-top: 1em
}


img {
  width: 100%;
}
/*Fe*/

/*Gui*/
	.twitter , .facebook, .email, .instagram {
	width: 50px;
	height: 50px;
}

	.footer   {
	 padding-top: 30px;
    background-color: #27264a;
    position:relative;
  	bottom:0;
 	width: 100%;
 	height: 260px;
}

	.lista-social{	
    justify-content: space-around;
}

	.titulo-social{
	align-content: center;
    display: flex;
    height: 30px;
    width: 100%;
    margin-left: 30px;
}
	.titulo-social2{
	align-content: center;
    display: flex;
    height: 30px;
    width: 100%;
    margin-left: 30px;
}

	.fonte{
	width: 240px;
	display: inline-grid;
	justify-content: center;
	}
	.fonte3{
		margin-left: 30px;
	}

 .lista , .socialtxt{
 	display: flex;
 	flex-direction:row;
 	justify-content: flex-start;
 	margin:50px;
 
 }

	 .colunas-container{
	display: flex;
	justify-content: space-around;
 }

 	.coluna1{	
	position:relative;
	display: flex;
	justify-content: center;
	color:white;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 33%;
	height:200px;
}
 

	 .coluna2{
 	position: relative;
 	display: flex;
	justify-content: center;
	color:white;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 33%;
	height:200px
}
 

 .Coluna3 {
	display: flex;
	justify-content: center;
	color:white;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 33%;
	height:200px;
}

	.lista-social  {
	list-style-type:none;
	width: 300px;
	}

	.social {
	 display: flex;
	 width: 260px;
	 justify-content: space-between;
	}
	
	.sub-fonte{
		color:rgb(114, 191, 68);

	}
	.logo-footer{
			height: 200px;
			width: 200px;
	}

	.socialgrid{
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		margin-left: 20px;
	}

	.mac , .microsoft , .market{
		width: 170px;
		height: 50px;

	}
	.App{
	margin-left: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column-reverse;
    height: 200px;
	}

.contatomail , .contatocel {
	text-align: center;
		margin-top: 10px;
		margin-left: 60px;
}

.mapa{
	position: relative;

	margin-left: 30%;

}
.estamosaquitxt{
	font-size: 80px;
	margin-left: 30px;
}
.estamosaquidiv{
	height: 100px;
	margin: 0px;
}
/*Gui*/

.Gui{
border-top: 500px;
}
